MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_SECURE=false
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
DATABASE_URL=dburl

REDIS_HOST=redishost
REDIS_PORT=redisport

MINIO_ENDPOINT=minioendpoint
MINIO_ACCESS_KEY=minioaccesskey
MINIO_SECRET_KEY=miniosecretkey
MINIO_SECURE=false

GRAFANA_PASSWORD=grafanapassword

JWT_SECRET=jwtsecret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1
JWT_REFRESH_TOKEN_EXPIRE_DAYS=1
